# ------------------------------------------------------------------------------
# Project : __CN_NAME_BIG__                                        /          \
# Filename: MANIFEST.in                                           |     ()     |
# Date    : __CN_DATE__                                           |            |
# Author  : cyclopticnerve                                        |   \____/   |
# License : WTFPLv2                                                \          /
# ------------------------------------------------------------------------------

# -)
