# ------------------------------------------------------------------------------
# Project :                                                        /          \
# Filename: MANIFEST.in                                           |     ()     |
# Date    :                                                       |            |
# Author  : cyclopticnerve                                        |   \____/   |
# License : WTFPLv2                                                \          /
# ------------------------------------------------------------------------------

# -)
