# ------------------------------------------------------------------------------
# Project : PyPlate                                                /          \
# Filename: PyPlate.desktop                                       |     ()     |
# Date    : 05/31/2026                                            |            |
# Author  : cyclopticnerve                                        |   \____/   |
# License : WTFPLv2                                                \          /
# ------------------------------------------------------------------------------

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=pyplate
StartupWMClass = pyplate.py
# I18N: program name
Name=PyPlate
Icon=.local/share/pyplate/images/pyplate.png
# I18N: short description
Comment=A Short description
Categories=
X-Desktop-File-Install-Version=0.26

# -)
