# ------------------------------------------------------------------------------
# Project : GUIs_DEBUG                                             /          \
# Filename: MANIFEST.in                                           |     ()     |
# Date    : 09/29/2024                                            |            |
# Author  : cyclopticnerve                                        |   \____/   |
# License : WTFPLv2                                                \          /
# ------------------------------------------------------------------------------

# -)
