# ------------------------------------------------------------------------------
# Project : __PC_NAME_BIG__                                        /          \
# Filename: __PC_NAME_SMALL__.desktop                             |     ()     |
# Date    : __PC_DATE__                                           |            |
# Author  : __PD_AUTHOR__                                         |   \____/   |
# License : __PD_LICENSE_NAME__                                    \          /
# ------------------------------------------------------------------------------

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
X-Desktop-File-Install-Version=0.26
Path=__PA_USR_BIN__
Exec=__PC_NAME_SMALL__
Name=__PC_NAME_BIG__
Icon=__PC_USR_SRC__/images/__PC_NAME_BIG__.png

# -)
