# ------------------------------------------------------------------------------
# Project : __CN_NAME_BIG__                                        /          \
# Filename: __CN_NAME_SMALL__.desktop                             |     ()     |
# Date    : __CN_DATE__                                           |            |
# Author  : cyclopticnerve                                        |   \____/   |
# License : WTFPLv2                                                \          /
# ------------------------------------------------------------------------------

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Categories=__CN_GUI_CATEGORIES__
Comment=
Exec=__CN_GUI_EXEC__
Path=
Name=__CN_NAME_BIG__
Icon=__CN_GUI_ICON__
X-Desktop-File-Install-Version=0.26

# -)
