# ------------------------------------------------------------------------------
# Project : __PP_NAME_BIG__                                        /          \
# Filename:                                                       |     ()     |
# Date    : __PP_DATE__                                           |            |
# Author  : cyclopticnerve                                        |   \____/   |
# License : WTFPLv2                                                \          /
# ------------------------------------------------------------------------------

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Categories=;
Comment=
Exec=PP_GUI_EXEC
Path=
Name=PP_NAME_BIG
Icon=PP_GUI_ICON
X-Desktop-File-Install-Version=0.26

# -)
