# ------------------------------------------------------------------------------
# Project : __PP_NAME_BIG__                                        /          \
# Filename: __PP_NAME_SMALL__.desktop                             |     ()     |
# Date    : __PP_DATE__                                           |            |
# Author  : cyclopticnerve                                        |   \____/   |
# License : WTFPLv2                                                \          /
# ------------------------------------------------------------------------------

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Categories=
Comment=
Exec=
Path=
Name=__PP_NAME_BIG__
Icon=
X-Desktop-File-Install-Version=0.26

# -)
